Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

#254-fix-duplicate
  activities_to_create.json
Due: fix-json

#254-fix-scope
  activities.json
Due: fix-json

#254-fix-Plexiglass-duplicate-name
  activities.json
Due: fix-json

chore: fix PET, and regenerate processes
  activities_to_create.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

#257-replace-missing-UUID-for components
  activities.json
Due: fix-json

add baseProduct fix aliases too verbose
  activities.json
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  models/process.py
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: fix new processes naming and ordering
  activities_to_create.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fixed Categories of added irrigation flows
  activities.json
  activities_to_create.json
Due: fix-json

use flow codes
  activities.json
  activities_to_create.json
  public/data/processes.json
  public/data/processes_generic.json
  public/data/textile/materials.json
Due: fix-json, check-json-schemas

Added missing flows
  activities_to_create.json
Due: fix-json

put the right amount of returned water, and allow to specify the unit in search
  activities_to_create.json
  common/import_.py
  ecobalyse_data/bw/search.py
Due: fix-json, fix-python

fixed the bw explorer
  notebooks/explore.py
Due: fix-python

no limit to the search, to avoid mising flows
  ecobalyse_data/bw/search.py
Due: fix-python

fixed unit
  activities_to_create.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

column order
  notebooks/explore.py
Due: fix-python

fix-naming
  activities.json
Due: fix-json

align-display-names
  activities.json
Due: fix-json

export
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

feat(data): metal transforming and others (#257)
  activities.json
  activities_to_create.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix-mention
  activities.json
Due: fix-json

hide live animals
  activities.json
  public/data/food/ingredients.json
Due: fix-json

fix-scope
  activities.json
Due: fix-json

delete-duplicate
  activities.json
Due: fix-json

forma
  common/import_.py
  ecobalyse_data/bw/search.py
  notebooks/explore.py
Due: fix-python

chore: hide live animals (#259)
  activities.json
  public/data/food/ingredients.json
Due: fix-json

chore: add cooking transformations
  activities.json
  migrations/2026-04-13-add-food-type-to-food-items.py
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: fill empty aliases
  activities.json
  bin/json_formatter.py
Due: fix-json, fix-python

feat: add food metadata in generic processes
  bin/export.py
  common/__init__.py
  ecobalyse_data/export/export_generic.py
  models/process.py
  public/data/processes_generic.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/fixtures/processes_generic_output.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
Due: fix-json, fix-python, check-json-schemas

feat: cmaps transformed ingredients
  activities.json
  bin/check_cmaps_icv_names.py
  bin/generate_cmaps_transformed.py
  bin/search_missing_icv.py
  cmaps_activities.json
  cmaps_activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: update processes
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix sign complements
  ecobalyse_data/export/export_generic.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

test cmmit
  activities_to_create.json
Due: fix-json

feat(data): align displayName v2 (#258)
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

180+ ingredients from existing agribalyse transformed ingredients, converted to other variants
  activities.json
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

cmaps ingredients
  activities.json
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

hide OI for aop cheese
  .gitignore
  activities.json
  cmaps_impact_deltas.csv
  export_cmaps_deltas.py
Due: fix-json, fix-python

hide aop cheese
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

adapt export csv
  cmaps_impact_deltas.csv
  export_cmaps_deltas.py
Due: fix-python

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
