Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-json-formatter, app-ruff-check, app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, main]

  - repo: local
    hooks:
      - id: app-json-formatter
        name: run Pythonâ€™s JSON formatter
        language: system
        files: ^.*$
        types_or: [json]
        entry: |
          bash -c 'PYTHONPATH=. uv run python bin/json_formatter.py "${@}"' --

      - id: app-ruff-check
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:check "${@}"' --

      - id: app-ruff-format
        name: run ruff format
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'npm --prefix . run fix:ruff:format "${@}"' --

chore: stop using Prettier for json formatting (#166)
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  activities.json
  activities_to_create.json
  bin/json_formatter.py
  common/__init__.py
  common/distances/distances_raw.json
  common/export.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/process.py
  ecobalyse_data/export/textile.py
  ecobalyse_data/logging.py
  impacts.json
  package-lock.json
  package.json
  public/data/food/ingredients.json
  public/data/processes.json
  simapro-biosphere.json
  tests/activities_to_create.json
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_impacts.json
  tests/test_export.py
Due: app-json-formatter, app-ruff-check, app-ruff-format

Add one process "average metal working RER"
  activities.json
Due: app-json-formatter

Add 2 new processes for packaging (corrugated board box & plastic film)
  activities.json
Due: app-json-formatter

sawing => 1 new process + 1 existing process modified
  activities.json
Due: app-json-formatter

Added a ListDetector that can be reused by Detectors
  ecobalyse_data/detect/__init__.py
  ecobalyse_data/detect/density.py
  ecobalyse_data/detect/important.py
Due: app-ruff-check, app-ruff-format

added an item in the negative definitions
  ecobalyse_data/detect/important.py
Due: app-ruff-check, app-ruff-format

chore: change logic so that ids are in activities.jhson
  bin/export_lcia.py
  common/export.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
Due: app-ruff-check, app-ruff-format

chore: update jsons
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: app-json-formatter

misc fix
  tests/test_bin_scripts.py
  tests/test_process_relationships.py
Due: app-ruff-check, app-ruff-format

update tests
  tests/fixtures/activities.json
  tests/test_json_consistency.py
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: export after discussion with alban
  activities.json
  activities_to_create.json
  public/data/processes.json
Due: app-json-formatter

chore: add dummy id
  ecobalyse_data/computation.py
  tests/fixtures/forwast.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: stabilize process ids (#178)
  activities.json
  bin/export_lcia.py
  common/export.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  public/data/food/ingredients.json
  public/data/processes.json
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/test_bin_scripts.py
  tests/test_json_consistency.py
  tests/test_process_relationships.py
Due: app-json-formatter, app-ruff-check, app-ruff-format

Wood-board processes modif
  activities.json
  activities_to_create.json
Due: app-json-formatter

chore: new correct source
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: correct custom source
  activities.json
  public/data/processes.json
  tests/test_json_consistency.py
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: correct Custom source
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: correct custom source (#180)
  activities.json
  public/data/processes.json
  tests/test_json_consistency.py
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: add material_type:wood to panneaux(transformation, post-déchiquetage)
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: rename `defaultCountry` to `defaultGeoZone`
  activities.json
  common/distances/transports.py
  ecobalyse_data/export/textile.py
  models/process.py
  public/data/textile/materials.json
  tests/fixtures/activities.json
  tests/snapshots/textile/materials.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: convert wood processes to m3
  activities.json
  activities_to_create.json
  common/import_.py
  public/data/processes.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: fix typo
  activities.json
Due: app-json-formatter

chore: fix typo
  public/data/processes.json
  tests/fixtures/processes_impacts_output.json
Due: app-json-formatter

chore: keep old ids
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: various fix
  activities.json
  tests/fixtures/processes_impacts_output.json
Due: app-json-formatter

chore: fix density
  public/data/processes.json
Due: app-json-formatter

chore: readme id stability
  README.md
Due: none

chore: add the “use” category to fuels
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: add the “use” category to low-voltage-electricity
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: replace `ajv` by `check-jsonschema` for schemas validation
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: app-json-formatter

chore: add schema validation to pre-commit
  .pre-commit-config.yaml
Due: none

try with cooked_to_raw
  bin/update_json.py
  ecobalyse_data/data/density_DB.xlsx
  ecobalyse_data/detect/__init__.py
  ecobalyse_data/detect/cooked_to_raw.py
  ecobalyse_data/detect/density.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

chore: replace `npm run` par `just` and get rid of npm
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  README.md
  justfile
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: app-json-formatter

chore: refactor food.py and location
  activities_to_create.json
  common/import_.py
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

feat: add new object processes (#177)
  activities.json
  activities_to_create.json
  public/data/processes.json
Due: app-json-formatter

chore: change id because unit change
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: unify the transport processes on all scopes
  activities.json
  public/data/processes.json
Due: app-json-formatter

feat: containerization of Brigthway actions
  archive/docker.sh
  archive/docker/Dockerfile
  archive/docker/entrypoint.sh
  archive/docker/requirements.txt
  compose.yaml
  pyproject.toml
  uv.lock
Due: none

chore: remove npm (#185)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  README.md
  justfile
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: app-json-formatter
