Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

chore: add missing veli scopes and fix lci names
  activities.json
  activities_to_create.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix data error
  activities_to_create.json
Due: fix-json

chore: update processes
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Allow using `exchanges` with `from_existing`
  common/import_.py
Due: fix-python

new run from upstream
  activities.json
Due: fix-json

new export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Update battery cell recycling
  activities_to_create.json
Due: fix-json

add pyro- & hydro-metallugy
  activities.json
Due: fix-json

Create an organic cotton with irrigation instead of modifying the source DB
  activities.json
  activities_to_create.json
  common/import_.py
  ecobalyse_data/bw/search.py
  ecobalyse_data/bw/strategy.py
  import_ecoinvent.py
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

reformat
  activities.json
  activities_to_create.json
Due: fix-json

prevent a traceback if any metadata item lacks a scopes key
  ecobalyse_data/export/utils.py
Due: fix-python

fix organic coton format + new export
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

adapted test
  tests/test_json_consistency.py
Due: fix-python

format
  tests/test_json_consistency.py
Due: fix-python

format
  common/import_.py
  ecobalyse_data/bw/search.py
Due: fix-python

chore: fix formatting
  activities.json
Due: fix-json

fix transport in pyrometallurgical process
  activities_to_create.json
Due: fix-json

chore: add recycling processes (#243)
  activities.json
  activities_to_create.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: fix hdpe/ldpe types, update processes
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

feat(data): change material type (#253)
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix name
  activities_to_create.json
Due: fix-json

add steel transforming
  activities.json
Due: fix-json

simplified the created activity
  activities_to_create.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

two methods to see the difference
  activities_to_create.json
Due: fix-json

add exchanges onto the last activity of the upstream path
  common/import_.py
Due: fix-python

Allow to add exchanges on the base activity, or on the last step of the replacement plan
  common/import_.py
Due: fix-python

two ways of building the irrigated organic cotton
  activities.json
  activities_to_create.json
  common/import_.py
  public/data/processes.json
  public/data/processes_generic.json
  public/data/textile/materials.json
Due: fix-json, fix-python, check-json-schemas

add-transformation-processes
  activities.json
Due: fix-json

add-alu-extrusion
  activities.json
Due: fix-json

#257-add-galva-heat-dibond
  activities_to_create.json
Due: fix-json

#257-fix-heatRER
  activities_to_create.json
Due: fix-json

fix-alias
  activities_to_create.json
Due: fix-json

fix-scope
  activities.json
Due: fix-json

fix-source
  activities.json
Due: fix-json

fixed id duplication
  activities.json
  public/data/processes_generic.json
  public/data/textile/materials.json
Due: fix-json, check-json-schemas

add-dibond-galva-activities
  activities.json
  activities_to_create.json
Due: fix-json

#257-add-uuid
  activities.json
Due: fix-json

#254-fix-alias
  activities_to_create.json
Due: fix-json

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
