Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

feat(data): Ingredients bio (#235)
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: add scope 'food2' for everything with scope 'food'
  activities.json
  migrations/2026-03-17-add-food2-to-activities.py
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: minor fix in the migration file
  activities.json
  migrations/2026-03-17-add-food2-to-activities.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: add the food distribution processes
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

centralize generic scope variable
  bin/export.py
  common/export.py
  models/process.py
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

make import local to avoid circular dependency
  common/export.py
Due: fix-python

chore: add documentation for the new processes
  activities.json
Due: fix-json

chore: remove object/veli from processes.json (#231)
  .gitignore
  bin/export.py
  common/export.py
  ecobalyse_data/export/export_generic.py
  models/process.py
  public/data/processes.json
  settings.toml
  tests/conftest.py
  tests/snapshots/processes_impacts.json
  tests/snapshots/processes_impacts_full.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

chore: add recycling processes
  activities_to_create.json
Due: fix-json

chore: update activities_to_create.json
  activities_to_create.json
Due: fix-json

chore: update processes
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Update activities_to_create.json
  activities_to_create.json
Due: fix-json

feat: add live animals
  .gitignore
  activities.json
  activities_to_create.json
  bin/export.py
  common/export.py
  common/import_.py
  ecobalyse_data/export/export_generic.py
  models/process.py
  public/data/food/ingredients.json
  public/data/processes.json
  settings.toml
  tests/activities-schema.json
  tests/conftest.py
  tests/processes-schema.json
  tests/snapshots/processes_impacts.json
  tests/snapshots/processes_impacts_full.json
  tests/test_export.py
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

fix lint
  activities_to_create.json
Due: fix-json

add PWB, copper, wood, glass recycling
  activities_to_create.json
Due: fix-json

add board and plastics recycling
  activities_to_create.json
Due: fix-json

chore: update processes after merge
  public/data/processes.json
Due: fix-json, check-json-schemas

new displayNames
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

cull cow category set to ingredient
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

squash commits to avoid forbidden file commit
  bin/export.py
  ecobalyse_data/export/food.py
  food/ecosystemic_services/animal_to_meat.json
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
  settings.toml
  tests/fixtures/food/animal_to_meat.json
  tests/fixtures/food/feed.json
  tests/test_ecosystemic_services.py
Due: fix-json, fix-python

update readme
  food/ecosystemic_services/README.md
Due: none

chore: CR @paulboosz
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: add scope 'food2' for everything with scope 'food' (#237)
  activities.json
  migrations/2026-03-17-add-food2-to-activities.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: add the food distribution processes (#240)
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

nb format eco services
  ecobalyse_data/export/food.py
Due: fix-python

fix tests
  tests/snapshots/food/ingredients.json
Due: fix-json

add food2 to all live animals scope
  activities.json
  public/data/food/ingredients.json
Due: fix-json

set visibility=true and add food2 scope
  activities.json
Due: fix-json

fix alias
  activities.json
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

feat(data): add live animals (#242)
  activities.json
  activities_to_create.json
  common/import_.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
  tests/activities-schema.json
  tests/processes-schema.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

bovin bio vivant invisible
  activities.json
  public/data/food/ingredients.json
Due: fix-json

minimize diff
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: fix-json, fix-python

back to frmatted values
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: fix-json, fix-python

fix formating
  activities_to_create.json
Due: fix-json

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
