Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, main]

  - repo: local
    hooks:
      - id: fix-json
        name: run JSON formatter
        language: system
        files: ^.*$
        types_or: [json]
        entry: |
          bash -c 'just fix-json "${@}"' --

      - id: fix-python
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'just fix-python "${@}"' --


      - id: check-json-schemas
        name: check json schemas
        language: system
        files: ^public/data/processes.*\.json$
        types_or: [json]
        entry: |
          just check-processes

change process for sunflower grain
  activities.json
Due: fix-json

new export
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

new OI ingredients
  activities.json
Due: fix-json

new OI ingredients
  activities.json
  food/metadata/cropgroup.csv
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: add sorting by alias, displayName
  activities.json
  bin/json_formatter.py
Due: fix-json, fix-python

chore: sort activities.json (#216)
  activities.json
  bin/json_formatter.py
  tests/fixtures/activities.json
Due: fix-json, fix-python

refactor: remove direct dic access and add focus test
  ecobalyse_data/export/food.py
  food/ecosystemic_services/feed.json
  settings.toml
  tests/fixtures/food/feed.json
  tests/test_ecosystemic_services.py
Due: fix-json, fix-python

chore: fix export ingredient test
  tests/fixtures/activities.json
Due: fix-json

chore: remove obsolote README section
  food/ecosystemic_services/README.md
Due: none

duplicate keys and remove dynaconf_merge
  settings.toml
Due: none

fix: permanent pasture (#213)
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  public/data/food/ingredients.json
  settings.toml
  tests/fixtures/activities.json
  tests/fixtures/food/feed.json
  tests/snapshots/food/ingredients.json
  tests/test_ecosystemic_services.py
Due: fix-json, fix-python

moved env vars into .env
  .env.sample
  justfile
Due: none

use the right env var. This one seems enough
  .env.sample
  bin/export.py
  bin/export_lcia.py
Due: fix-python

finally set multiprocessing to cpu_count / 2
  bin/export.py
  bin/export_lcia.py
Due: fix-python

better comment
  .env.sample
Due: none

fixed some comments
  bin/export.py
  bin/export_lcia.py
Due: fix-python

chore: don't slow down the system when exporting all (#212)
  .env.sample
  bin/export.py
  bin/export_lcia.py
  justfile
Due: fix-python

Fix Ginko organic database: correct process names for Agribalyse 3.2 compatibility, remove 7 duplicates causing Brightway linking failures.
  settings.toml
Due: none

new export with the new ginko db
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

Also replace the pastoeco database with a fixed one
  settings.toml
Due: none

feat: forest complements in generic processes file
  activities.json
  bin/export.py
  ecobalyse_data/export/object.py
  models/process.py
  public/data/metadata.json
  public/data/processes_generic.json
  tests/conftest.py
  tests/fixtures/activities.json
  tests/snapshots/metadata.json
  tests/snapshots/processes_generic.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

feat: forest complements 2
  activities.json
  bin/export.py
  ecobalyse_data/export/object.py
  models/process.py
  public/data/metadata.json
  public/data/processes_generic.json
  tests/conftest.py
  tests/fixtures/activities.json
  tests/snapshots/metadata.json
  tests/snapshots/processes_generic.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

fix schema validation
  tests/activities-schema.json
Due: fix-json

refactor: activities metadata
  activities.json
  ecobalyse_data/export/food.py
  ecobalyse_data/export/object.py
  ecobalyse_data/export/textile.py
  ecobalyse_data/export/utils.py
  tests/activities-schema.json
  tests/fixtures/activities.json
  tests/test_json_consistency.py
Due: fix-json, fix-python

same for woolmark, which just has a wrong simapro header
  settings.toml
Due: none

feat: emit reference product as explicit exchange with outputGroup=0
  ecobalyse_data/bw/ecospold_export.py
  tests/test_bin_scripts.py
Due: fix-python

fix encoding elsewhere and sanitize the encoding mess coming from simapro :-/
  common/bw/simapro_json.py
  ecobalyse_data/bw/simapro_export.py
Due: fix-python

chore: remove obsolete commment
  tests/test_json_consistency.py
Due: fix-python

fix: reclassify final waste flows from technosphere to biosphere
  common/import_.py
  ecobalyse_data/bw/strategy.py
Due: fix-python

refactor: unify alias between activities_to_create and activities
  activities.json
  activities_to_create.json
  meat_to_animal.json
  tests/test_json_consistency.py
Due: fix-json, fix-python

chore: sort processes
  bin/json_formatter.py
  common/__init__.py
  common/export.py
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

chore: fix test
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json

create a list a the top of the file
  bin/json_formatter.py
Due: fix-python

chore: sort processes.json (#223)
  bin/json_formatter.py
  common/__init__.py
  common/export.py
  public/data/processes.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

feat: forest-complements-2
  .gitignore
  activities.json
  bin/export.py
  ecobalyse_data/export/object.py
  models/process.py
  public/data/metadata.json
  public/data/processes_generic.json
  tests/activities-schema.json
  tests/conftest.py
  tests/fixtures/activities.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/fixtures/processes_generic_output.json
  tests/snapshots/metadata.json
  tests/snapshots/processes_generic_impacts.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

update wood name to add forestManagement
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix: fix encoding of simapro import (#222)
  common/bw/simapro_json.py
  ecobalyse_data/bw/simapro_export.py
Due: fix-python

add veli processes to export_generic
  activities.json
  bin/export.py
  ecobalyse_data/export/export_generic.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

fixed the simapro header of the woolmark database with correct separator (some tools read the header before parsing the file)
  settings.toml
Due: none
