Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, main]

  - repo: local
    hooks:
      - id: fix-json
        name: run JSON formatter
        language: system
        files: ^.*$
        types_or: [json]
        entry: |
          bash -c 'just fix-json "${@}"' --

      - id: fix-python
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'just fix-python "${@}"' --


      - id: check-json-schemas
        name: check json schemas
        language: system
        files: ^public/data/processes.*\.json$
        types_or: [json]
        entry: |
          just check-processes

test
  activities.json
Due: fix-json

fix pwb recycling alias
  activities_to_create.json
Due: fix-json

fix pwb recycling bis
  activities_to_create.json
Due: fix-json

scopes from metadata.scopes
  ecobalyse_data/export/export_generic.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: add food use processes
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: add comments and aliases
  activities.json
Due: fix-json

chore: update processes
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

remove non-generic scopes from processes_generic
  ecobalyse_data/export/export_generic.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

fix: duplicates processes in explorer (#249)
  ecobalyse_data/export/export_generic.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: conversion kW·h => MJ
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: add food use processes (#241)
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: add material category to ingredients
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

add incineration processes2
  activities.json
Due: fix-json

Update activities_to_create.json
  activities_to_create.json
Due: fix-json

fix lint
  activities_to_create.json
Due: fix-json

add board and plastics recycling
  activities_to_create.json
Due: fix-json

add PWB, copper, wood, glass recycling
  activities_to_create.json
Due: fix-json

chore: add recycling processes
  activities_to_create.json
Due: fix-json

fix formating
  activities_to_create.json
Due: fix-json

name fix
  activities.json
Due: fix-json

correct scopes following db integrity checks
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

add landfill processes
  activities.json
Due: fix-json

fix metadata consistency
  activities.json
  tests/test_json_consistency.py
Due: fix-json, fix-python

chore: add material category to ingredients (#250)
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

add recycling processes to activities.json
  activities.json
Due: fix-json

fix wood display name
  activities.json
Due: fix-json

feat(data): add example
  activities_to_create.json
Due: fix-json

new ratios following christophe's comment
  food/ecosystemic_services/animal_to_meat.json
  public/data/food/ingredients.json
Due: fix-json

fix: correct scopes following db integrity checks (#251)
  activities.json
  public/data/processes_generic.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

change material type
  activities.json
Due: fix-json

align displayName
  activities.json
Due: fix-json

refactor: animal food complements (#245)
  activities.json
  bin/export.py
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  food/ecosystemic_services/animal_to_meat.json
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
  settings.toml
  tests/fixtures/food/animal_to_meat.json
  tests/fixtures/food/feed.json
  tests/snapshots/food/ingredients.json
  tests/test_ecosystemic_services.py
Due: fix-json, fix-python

squash all commits
  activities.json
  activities_to_create.json
  bin/export.py
  common/import_.py
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  food/ecosystemic_services/animal_to_meat.json
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
  settings.toml
  tests/fixtures/food/animal_to_meat.json
  tests/fixtures/food/feed.json
  tests/snapshots/food/ingredients.json
  tests/test_ecosystemic_services.py
Due: fix-json, fix-python, check-json-schemas

fix: location for created activities (#236)
  activities_to_create.json
  common/import_.py
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas
