Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

chore: upgrade python version to 3.12
  .github/workflows/ci.yml
  .python-version
  pyproject.toml
  tests/test_bin_scripts.py
  uv.lock
Due: app-ruff-check, app-ruff-format

Fixed non-Ecobalyse but Custom (hardcoded) textile sources
  activities.json
Due: app-prettier

merge
  .env.sample
  .github/workflows/ci.yml
  Makefile
  README.md
  activities.json
  activities_to_create.json
  bin/create_json_data_from_csv.py
  bin/docker.sh
  bin/export_lcia.py
  common/__init__.py
  common/bw/simapro_json.py
  common/import_.py
  config.py
  ecobalyse_data/bw/search.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  ecobalyse_data/logging.py
  ecobalyse_data/s3.py
  import_ecoinvent.py
  import_food.py
  import_method.py
  models/process.py
  package.json
  public/data/food/ingredients.json
  public/data/processes.json
  pyproject.toml
  settings.toml
  tests/activities_to_create.json
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_impacts.json
  tests/test_bin_scripts.py
  tests/test_import.py
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

chore: remove database field when unnecessary
  activities_to_create.json
Due: app-prettier

chore: remove useless stuff
  common/import_.py
  ecobalyse_data/computation.py
Due: app-ruff-check, app-ruff-format

chore: add location and force exact match in export (#146)
  README.md
  activities.json
  activities_to_create.json
  bin/export_lcia.py
  common/import_.py
  ecobalyse_data/bw/search.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  models/process.py
  public/data/food/ingredients.json
  public/data/processes.json
  tests/activities_to_create.json
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_impacts.json
  tests/test_bin_scripts.py
  tests/test_import.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: upgrade python version to 3.12 (#150)
  .github/workflows/ci.yml
  .python-version
  pyproject.toml
  tests/test_bin_scripts.py
  uv.lock
Due: app-ruff-check, app-ruff-format

chore: remove search
  activities.json
Due: app-prettier

remove unused processes
  activities.json
Due: app-prettier

refactor: processes
  activities.json
  public/data/processes_metadata.json
  public/data/processes_metadata_impacts.json
Due: app-prettier

new export
  public/data/processes.json
Due: app-prettier

chore: the CI should run the linting tasks, but not all the pre-commit ones
  .github/workflows/ci.yml
Due: none

chore: fix merge conflict
  common/export.py
  ecobalyse_data/export/process.py
Due: app-ruff-check, app-ruff-format

chore: fix merge delete utils file
  common/import_.py
  common/utils.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  models/process.py
Due: app-ruff-check, app-ruff-format

chore: fix the flows_biosphere_310.csv file content
  ecobalyse_data/data/README.md
  ecobalyse_data/data/flows_biosphere_310.csv
Due: none

chore: update migration script and outputs
  activities.json
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  migrations/2025-11-06-refactor-activities-to-merge-processes-metadata.py
  models/process.py
  public/data/food/ingredients.json
  public/data/metadata.json
  public/data/processes.json
  public/data/processes_metadata.json
  public/data/processes_metadata_impacts.json
  public/data/textile/materials.json
  tests/fixtures/activities.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: the CI should run the linting tasks, but not all the pre-commit ones (#158)
  .github/workflows/ci.yml
Due: none

chore: fix the flows_biosphere_310.csv file content (#159)
  ecobalyse_data/data/README.md
  ecobalyse_data/data/flows_biosphere_310.csv
Due: none

update to latest activities.json and improved output
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

install torch for CPU only
  pyproject.toml
  uv.lock
Due: none

chore: clean comments
  migrations/2025-11-06-refactor-activities-to-merge-processes-metadata.py
Due: app-ruff-check, app-ruff-format

chore: cleanup and unify logging
  archive/docker/requirements.txt
  bin/lcia_info.py
  common/brightway_patch.py
  common/import_.py
  common/score_history/score_history.py
  common/sync_datapackages.py
  create_activities.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  import_ecoinvent.py
  import_food.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

fix: some process.source_id fields were not renamed
  ecobalyse_data/export/process.py
Due: app-ruff-check, app-ruff-format

chore: archive some broken/unfinished stuff that might be needed soon
  archive/.dockerignore
  archive/Makefile
  archive/bwapi/README.txt
  archive/bwapi/__init__.py
  archive/bwapi/server.py
  archive/docker.sh
  archive/docker/Dockerfile
  archive/docker/entrypoint.sh
  archive/docker/requirements.txt
Due: app-ruff-check, app-ruff-format

chore: clean .gitignore
  .gitignore
Due: none

chore: remove unnecessary () and ;
  package.json
Due: app-prettier

chore: cleaning up the settings
  .env.sample
  .github/workflows/ci.yml
  README.md
  bin/export.py
  config.py
  package.json
  pyproject.toml
  settings.toml
  tests/conftest.py
  tests/test_dynaconf.py
  tests/test_export.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: make the `simapro` options false by default
  bin/lcia_info.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/process.py
Due: app-ruff-check, app-ruff-format

chore: cleanup dependencies
  pyproject.toml
  uv.lock
Due: none

chore: remove remaining unnecessary () and ; in package.json
  package.json
Due: app-prettier

chore: miscellaneous cleanings (#152)
  .env.sample
  .github/workflows/ci.yml
  .gitignore
  README.md
  archive/.dockerignore
  archive/Makefile
  archive/bwapi/README.txt
  archive/bwapi/__init__.py
  archive/bwapi/server.py
  archive/docker.sh
  archive/docker/Dockerfile
  archive/docker/entrypoint.sh
  archive/docker/requirements.txt
  bin/export.py
  bin/lcia_info.py
  common/brightway_patch.py
  common/import_.py
  common/score_history/score_history.py
  common/sync_datapackages.py
  config.py
  create_activities.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/process.py
  import_ecoinvent.py
  import_food.py
  package.json
  pyproject.toml
  settings.toml
  tests/conftest.py
  tests/test_dynaconf.py
  tests/test_export.py
  uv.lock
Due: app-prettier, app-ruff-check, app-ruff-format

chore: adapt tests
  tests/fixtures/activities.json
  tests/test_json_consistency.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: delete 1 unused activity, change source and add consistency check for source
  activities.json
  public/data/processes.json
  tests/test_json_consistency.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: rename the `activityName` field to `technicalName`
  bin/export_datagouv.py
Due: app-ruff-check, app-ruff-format

chore: flatten impacts in json export, stricter csv specification
  bin/export_datagouv.py
Due: app-ruff-check, app-ruff-format

chore: remove parquet export and pandas dependency, use common log settings
  bin/export_datagouv.py
Due: app-ruff-check, app-ruff-format

feat: add a script to export the processes to the Open Data formats.
  bin/export_datagouv.py
  public/data/export/.gitignore
Due: app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
