Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

new ingredients regeneration
  activities.json
Due: fix-json

new regeneration
  activities.json
Due: fix-json

new export
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

refactor: simplify `"exchange"` and `"delete"` formats in activities_to_create.json (#203)
  activities_to_create.json
  common/import_.py
  tests/activities_to_create.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python

feat: massperunit
  activities.json
  bin/export_datagouv.py
  ecobalyse_data/computation.py
  models/process.py
  public/data/processes.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

chore: new export
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: simplify get_mass_per_unit
  ecobalyse_data/computation.py
Due: fix-python

restart from main
  activities.json
Due: fix-json

new ingredients generated
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

format
  activities.json
Due: fix-json

fix: get_mass_per_unit() unit=item condition and raise error if missing
  ecobalyse_data/computation.py
Due: fix-python

add schema validation for activities.json and tests jsons
  activities.json
  bin/json_formatter.py
  justfile
  tests/activities-schema.json
  tests/fixtures/activities.json
Due: fix-json, fix-python

again
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

removed honey to avoid duplicate (will be readded)
  activities.json
Due: fix-json

regeneration
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

fix bug demand and add back old packagings
  activities.json
  ecobalyse_data/computation.py
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

Revert "regeneration"
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

Revert "removed honey to avoid duplicate (will be readded)"
  activities.json
Due: fix-json

new merge logic
  activities.json
Due: fix-json

new ingredients with the new merge logic
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

new ingredients after fixing duplicated uuids
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

regenerated ingredients
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

regenerated ingredients
  activities.json
  public/data/food/ingredients.json
Due: fix-json

new ingredients again
  activities.json
Due: fix-json

fixed previous generation:
  activities.json
Due: fix-json

feat: mass per unit (#204)
  activities.json
  bin/export_datagouv.py
  bin/json_formatter.py
  ecobalyse_data/computation.py
  justfile
  models/process.py
  public/data/processes.json
  tests/activities-schema.json
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

chore: add wrongfully deleted processes
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

refactor: add duplicate activity check
  ecobalyse_data/computation.py
Due: fix-python

fix: raise if a value is missing instead of crashing
  ecobalyse_data/export/food.py
Due: fix-python

fill missing ecosystemic factors data using proxy values
  food/ecosystemic_services/ecosystemic_factors.csv
Due: none

again
  activities.json
Due: fix-json

refactor: add duplicate activity check (#205)
  ecobalyse_data/computation.py
Due: fix-python

fix json
  activities.json
Due: fix-json

again, ingredients generation
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

Apply suggestion from @cedricr
  food/metadata/README.md
Due: none

more details about data sources
  food/metadata/README.md
Due: none

feat: forest complements
  activities.json
  bin/export.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/land_occupation.py
  ecobalyse_data/export/object.py
  justfile
  models/process.py
  public/data/metadata.json
  tests/conftest.py
  tests/fixtures/activities.json
  tests/snapshots/metadata.json
  tests/test_export.py
Due: fix-json, fix-python

new ingredient generation
  activities.json
  food/metadata/cropgroup.csv
  food/metadata/food_type.csv
  food/metadata/food_type_cooked_to_raw.csv
  food/metadata/food_type_density.csv
  food/metadata/food_type_inedible_part.csv
  food/metadata/inedible_part.csv
Due: fix-json

new ingredients generation
  activities.json
Due: fix-json

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
