Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, main]

  - repo: local
    hooks:
      - id: fix-json
        name: run JSON formatter
        language: system
        files: ^.*$
        types_or: [json]
        entry: |
          bash -c 'just fix-json "${@}"' --

      - id: fix-python
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'just fix-python "${@}"' --


      - id: check-json-schemas
        name: check json schemas
        language: system
        files: ^public/data/processes.*\.json$
        types_or: [json]
        entry: |
          just check-processes

again
  activities.json
Due: fix-json

test init_worker
  ecobalyse_data/export/object.py
Due: fix-python

test not using Ecobalyse db in test
  tests/fixtures/activities.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/metadata.json
  tests/snapshots/processes_impacts.json
Due: fix-json

new ingredients (again)
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

format
  activities.json
Due: fix-json

clarify comment
  ecobalyse_data/export/object.py
  public/data/metadata.json
Due: fix-json, fix-python

chore: packaging put "Proxy" at the end of displayName (#202)
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: complement should be null if no info
  ecobalyse_data/export/object.py
  models/process.py
  public/data/metadata.json
Due: fix-json, fix-python

chore: remove metadata when no metadata available
  activities.json
  public/data/metadata.json
Due: fix-json

new ingredient adding
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: test fixtures update
  tests/snapshots/metadata.json
Due: fix-json

chore: add test for alias unicity across all metadata
  tests/test_json_consistency.py
Due: fix-python

corrections following @cedricr's comments
  ecobalyse_data/export/object.py
  models/process.py
  public/data/metadata.json
  tests/activities-schema.json
  tests/fixtures/activities.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python

feat: forest complements (#208)
  activities.json
  bin/export.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/land_occupation.py
  ecobalyse_data/export/object.py
  justfile
  models/process.py
  public/data/metadata.json
  tests/activities-schema.json
  tests/conftest.py
  tests/fixtures/activities.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/metadata.json
  tests/snapshots/processes_impacts.json
  tests/test_export.py
Due: fix-json, fix-python

chore: introduce a diff in order to test the runner
  public/data/processes.json
Due: fix-json, check-json-schemas

new ingredients generation
  activities.json
Due: fix-json

new feeds with new aliases
  food/ecosystemic_services/feed.json
Due: fix-json

new ingredient generated, and fixed feed
  activities.json
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

new generation, fixed cow milk, and renamed changed aliases in feed
  food/ecosystemic_services/feed.json
Due: fix-json

be more precise in the exception
  ecobalyse_data/export/food.py
Due: fix-python

new export with automatic feed change
  food/ecosystemic_services/feed.json
Due: fix-json

again with fixes about feed.json
  food/ecosystemic_services/feed.json
Due: fix-json

again with more fixes
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
Due: fix-json

feat: add EcoSpold 1 XML export to bin/export_bw_db.py
  README.md
  bin/export_bw_db.py
  ecobalyse_data/bw/ecospold_export.py
Due: fix-python

feat: replace --all with --activities in ecospold subcommand
  README.md
  bin/export_bw_db.py
  ecobalyse_data/bw/ecospold_export.py
  ecobalyse_data/typer.py
Due: fix-python

chore: add road transport to airport or to port
  bin/json_formatter.py
  common/distances/CountryDistances.py
  common/distances/transports.py
  justfile
Due: fix-python

again with alias convention fixes
  activities.json
  public/data/food/ingredients.json
Due: fix-json

reformat
  bin/export_bw_db.py
  ecobalyse_data/bw/ecospold_export.py
Due: fix-python

feat: New ingredients with predicted metadata (#196)
  activities.json
  ecobalyse_data/export/food.py
  food/ecosystemic_services/ecosystemic_factors.csv
  food/ecosystemic_services/feed.json
  food/metadata/README.md
  food/metadata/agb_inedible.csv
  food/metadata/cooked_to_raw.csv
  food/metadata/cropgroup.csv
  food/metadata/density.csv
  food/metadata/fao_density.csv
  food/metadata/food_type.csv
  food/metadata/food_type_cooked_to_raw.csv
  food/metadata/food_type_density.csv
  food/metadata/food_type_inedible_part.csv
  food/metadata/inedible_part.csv
  food/metadata/nova_classification.csv
  food/metadata/processing_state.csv
  food/metadata/transport_cooling.csv
  public/data/food/ingredients.json
  public/data/processes.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

Use single thread on pardiso dependencies and use half the nb of cores to avoid locking the system.
  bin/export.py
  bin/export_lcia.py
  justfile
Due: fix-python

comments
  bin/export.py
  bin/export_lcia.py
Due: fix-python

fix: update test_export_bw_db and add ecospold test
  tests/test_bin_scripts.py
Due: fix-python

fix: use forwast fixture for ecospold export test
  tests/test_bin_scripts.py
Due: fix-python

chore: reverting the changes to the transports.json file, as the distances will be stored in the countries file
  common/distances/CountryDistances.py
  common/distances/transports.py
Due: fix-python

fix: permanent pasture
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: fix-json, fix-python

chore: fix tests
  tests/fixtures/activities.json
  tests/fixtures/food/feed.json
  tests/snapshots/food/ingredients.json
Due: fix-json

chore: sort activities.json
  activities.json
  bin/json_formatter.py
  tests/fixtures/activities.json
Due: fix-json, fix-python

refactor: make permanent-pasture mandatory to avoid silent error
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  food/ecosystemic_services/feed.json
  tests/fixtures/food/feed.json
Due: fix-json, fix-python
