Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

chore: hide ground beef and beef with bone (#191)
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: correct uuids
  activities.json
  models/process.py
  public/data/processes.json
  tests/processes-schema.json
Due: fix-json, fix-python, check-json-schemas

chore: remove pef
  bin/export_datagouv.py
  common/__init__.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/process.py
  impacts.json
  models/process.py
  public/data/processes.json
  tests/fixtures/forwast.json
  tests/processes-schema.json
Due: fix-json, fix-python, check-json-schemas

chore: update test fixtures
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json

chore: replace pef with ecs
  common/export.py
Due: fix-python

chore: remove pef in notebooks
  notebooks/explore.py
  notebooks/textile_processes.py
Due: fix-python

readd old packaging processes
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

fix tests with new comment
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json

chore: remove pef (#192)
  bin/export_datagouv.py
  common/__init__.py
  common/export.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/process.py
  impacts.json
  models/process.py
  notebooks/explore.py
  notebooks/textile_processes.py
  public/data/processes.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

added pronto for foodOn, synced uv.lock
  pyproject.toml
  uv.lock
Due: none

chore: remove constructed by ecobalyse suffix
  .jupyter_ystore.db
  activities.json
  activities_to_create.json
  common/import_.py
  public/data/food/ingredients.json
  public/data/processes.json
  tests/activities_to_create.json
  tests/fixtures/activities.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

correct README
  README.md
Due: none

chore: fix import error notebook
  notebooks/explore.py
Due: fix-python

remove useless id in activities_to_create
  activities_to_create.json
Due: fix-json

fix: tests
  tests/test_json_consistency.py
Due: fix-python

chore: fix tests
  README.md
  activities.json
  models/process.py
  public/data/processes.json
  tests/processes-schema.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

chorel: remove pef
  public/data/processes.json
Due: fix-json, check-json-schemas

fix: cedric review
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

feat: add packaging from ctcpa (#190)
  activities.json
  ecobalyse_data/computation.py
  models/process.py
  public/data/processes.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

chore: allow density null
  ecobalyse_data/computation.py
  public/data/processes.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

chore: revert density
  activities.json
  ecobalyse_data/computation.py
  models/process.py
  public/data/processes.json
  tests/fixtures/forwast.json
  tests/fixtures/processes_impacts_output.json
  tests/processes-schema.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python, check-json-schemas

remove alias to other branch
  activities.json
Due: fix-json

revert README
  README.md
Due: none

cleanup
  .jupyter_ystore.db
  README.md
  tests/test_json_consistency.py
Due: fix-python

chore: missing commage
  tests/test_json_consistency.py
Due: fix-python

Update README.md
  README.md
Due: none

changes following cedric's review
  README.md
  activities.json
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: remove obsolete suffix and cleanup (#193)
  README.md
  activities.json
  activities_to_create.json
  common/import_.py
  notebooks/explore.py
  public/data/food/ingredients.json
  public/data/processes.json
  tests/activities_to_create.json
  tests/fixtures/activities.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

chore: cleanup constructed by (#194)
  README.md
  activities.json
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

new export
  activities.json
  food/metadata/export.py
  food/metadata/generated/new_activities.json
  food/metadata/pyproject.toml
  food/metadata/source/new_ingredient_FR.csv
  food/metadata/uv.lock
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

fix json
  activities.json
  food/metadata/generated/new_activities.json
Due: fix-json

formatting
  food/metadata/export.py
  food/metadata/foodon_loader.py
  food/metadata/predict.py
Due: fix-python

remove duplicates
  activities.json
  food/metadata/source/new_ingredient_FR.csv
Due: fix-json

new local export
  food/metadata/generated/new_activities.json
  food/metadata/generated/predictions.csv
Due: fix-json

new export
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

format
  food/metadata/generated/new_activities.json
Due: fix-json

fix food type classification anomalies
  food/metadata/foodon_loader.py
  food/metadata/generated/new_activities.json
  food/metadata/generated/predictions.csv
  food/metadata/predict.py
  food/metadata/reference/food_type.csv
Due: fix-json, fix-python

feat: add new packaging processes
  activities.json
  ecobalyse_data/bw/search.py
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

remove duplicate alias
  activities.json
Due: fix-json

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
