Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, main]

  - repo: local
    hooks:
      - id: fix-json
        name: run JSON formatter
        language: system
        files: ^.*$
        types_or: [json]
        entry: |
          bash -c 'just fix-json "${@}"' --

      - id: fix-python
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'just fix-python "${@}"' --


      - id: check-json-schemas
        name: check json schemas
        language: system
        files: ^public/data/processes.*\.json$
        types_or: [json]
        entry: |
          just check-processes

new generation
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: make the paths of the data used in tests more explicit (#278)
  bin/export.py
  bin/export_bw_db.py
  common/distances/transports.py
  common/export.py
  config.py
  settings.toml
  tests/conftest.py
  tests/test_ecosystemic_services.py
  tests/test_export.py
  tests/test_process_relationships.py
Due: fix-python

new generation
  activities.json
Due: fix-json

fixed generation
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

test blue-cheese complements
  food/ecosystemic_services/animal_to_meat.json
Due: fix-json

rename ecs to es to avoid ambiguity with ecoscore
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  tests/conftest.py
  tests/snapshots/food/es_factors.json
  tests/test_ecosystemic_services.py
Due: fix-json, fix-python

ecs -> es to avoid ecoscore ambiguity
  tests/conftest.py
Due: fix-python

Add new maize grain activity with acetochlore removal
  activities_to_create.json
Due: fix-json

fixed the visible attribute of the organic meat
  activities.json
Due: fix-json

fixed ingredients visibility
  public/data/food/ingredients.json
Due: fix-json

fix(data): Fix ingredients (#256)
  activities.json
  food/metadata/cooked_to_raw.csv
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

chore: @paulboosz review
  README.md
  tests/test_json_consistency.py
Due: fix-python

fix merge and delete activities
  activities.json
  public/data/food/ingredients.json
Due: fix-json

restore activities.json (accidentally delete)
  activities.json
Due: fix-json

chore: remove livestock density (#277)
  bin/export.py
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  food/ecosystemic_services/ecosystemic_factors.csv
  food/ecosystemic_services/ugb.csv
  models/process.py
  public/data/food/ingredients.json
  settings.toml
  tests/fixtures/food/ugb.csv
  tests/snapshots/food/ecs_factors.json
  tests/snapshots/food/ingredients.json
Due: fix-json, fix-python

fix export object -> generic
  bin/export.py
  justfile
  settings.toml
  tests/test_export.py
Due: fix-python

chore:  set France as default origin for some Bio ingredients
  lci_catalog/agribalyse-3-2/bean-organic-2025.json
  lci_catalog/ecobalyse/beef-without-bone-organic-2025.json
  lci_catalog/ecobalyse/flour-organic-2025.json
  lci_catalog/ecobalyse/rapeseed-oil-organic-2025.json
  lci_catalog/ecobalyse/sunflower-oil-organic-2025.json
  lci_catalog/ginko-2025/blueberry-organic-2025.json
  lci_catalog/ginko-2025/hazelnut-organic-2025.json
  lci_catalog/ginko-2025/hazelnut-unshelled-organic-2025.json
  lci_catalog/ginko-2025/lemon-organic-2025.json
  lci_catalog/ginko-2025/raspberry-organic-2025.json
  public/data/food/ingredients.json
Due: fix-json

wip: raw_to_transformed_ratios migration
  bin/export.py
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  food/ecosystemic_services/animal_to_meat.json
  food/ecosystemic_services/raw_to_transformed_ratios.json
  settings.toml
  tests/fixtures/food/animal_to_meat.json
  tests/fixtures/food/raw_to_transformed_ratios.json
  tests/test_ecosystemic_services.py
  tests/test_raw_to_transformed_ratios.py
Due: fix-json, fix-python

merge
  bin/export.py
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  models/process.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

fix tests
  tests/fixtures/lci_catalog/forwast/milk.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
Due: fix-json

chore: set France as default origin for some Bio ingredients (#281)
  lci_catalog/agribalyse-3-2/bean-organic-2025.json
  lci_catalog/ecobalyse/beef-without-bone-organic-2025.json
  lci_catalog/ecobalyse/flour-organic-2025.json
  lci_catalog/ecobalyse/rapeseed-oil-organic-2025.json
  lci_catalog/ecobalyse/sunflower-oil-organic-2025.json
  lci_catalog/ginko-2025/blueberry-organic-2025.json
  lci_catalog/ginko-2025/hazelnut-organic-2025.json
  lci_catalog/ginko-2025/hazelnut-unshelled-organic-2025.json
  lci_catalog/ginko-2025/lemon-organic-2025.json
  lci_catalog/ginko-2025/raspberry-organic-2025.json
  public/data/food/ingredients.json
Due: fix-json

chore: update processes after merge
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

feat: add food metadata in generic processes (#263)
  bin/export.py
  common/__init__.py
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  justfile
  models/process.py
  public/data/processes_generic.json
  settings.toml
  tests/fixtures/activities.json
  tests/fixtures/lci_catalog/forwast/milk.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/fixtures/processes_generic_output.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

chore: change origin of overseas ingredients
  lci_catalog/agribalyse-3-2/banana-wi.json
  lci_catalog/agribalyse-3-2/coconut-dehusked-fr-overseas.json
  lci_catalog/agribalyse-3-2/kiwi-fr.json
  lci_catalog/agribalyse-3-2/mango-non-eu.json
  lci_catalog/agribalyse-3-2/papaya-fr-overseas.json
  lci_catalog/agribalyse-3-2/pineapple-fr-overseas.json
  lci_catalog/agribalyse-3-2/vanilla-alcoholic-or-aqueou-extract-fr-overseas.json
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: add oversea origin (#282)
  lci_catalog/agribalyse-3-2/banana-wi.json
  lci_catalog/agribalyse-3-2/coconut-dehusked-fr-overseas.json
  lci_catalog/agribalyse-3-2/kiwi-fr.json
  lci_catalog/agribalyse-3-2/mango-non-eu.json
  lci_catalog/agribalyse-3-2/papaya-fr-overseas.json
  lci_catalog/agribalyse-3-2/pineapple-fr-overseas.json
  lci_catalog/agribalyse-3-2/vanilla-alcoholic-or-aqueou-extract-fr-overseas.json
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: rename pork meat
  food/ecosystemic_services/animal_to_meat.json
  lci_catalog/agribalyse-3-2/pork-fr-2025.json
  lci_catalog/ecobalyse/bacon-fr-bbc-2025.json
  lci_catalog/ecobalyse/pork-default-2025.json
  lci_catalog/ecobalyse/pork-fr-bbc-2025.json
  lci_catalog/ecobalyse/pork-organic-2025.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: set plane by default for some ingredients
  lci_catalog/agribalyse-3-2/french-bean-fr.json
  lci_catalog/ginko-2025/mango-organic.json
  lci_catalog/wfldb/breadfruit-default.json
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: set Mangue Bio origin to FranceOutreMer
  lci_catalog/ginko-2025/mango-organic-2025.json
  lci_catalog/ginko-2025/mango-organic.json
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: set plane by default for some ingredients (#283)
  lci_catalog/agribalyse-3-2/french-bean-fr.json
  lci_catalog/ginko-2025/mango-organic-2025.json
  lci_catalog/ginko-2025/mango-organic.json
  lci_catalog/wfldb/breadfruit-default.json
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

add baseProduct
  activities.json
  bin/export.py
  common/base_ingredient.py
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  food/base_ingredients.json
  lci_catalog/ecobalyse/broiler-live-br-max.json
  lci_catalog/ecobalyse/broiler-live-fr-feed.json
  lci_catalog/ecobalyse/broiler-live-fr-organic.json
  lci_catalog/pastoeco/cull-cow-fr-live-grass-fed.json
  models/process.py
  public/data/food/ingredients.json
  public/data/processes_generic.json
  tests/fixtures/food/animal_to_meat.json
  tests/fixtures/food/feed.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
  tests/test_base_ingredient.py
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas
