Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

updated new ingredients
  activities.json
  food/metadata/generated/new_activities.json
Due: fix-json

new export with new igredients
  public/data/food/ingredients.json
Due: fix-json

added reference data files
  food/metadata/agb_inedible.csv
  food/metadata/cooked_to_raw.csv
  food/metadata/cropgroup.csv
  food/metadata/density.csv
  food/metadata/fao_density.csv
  food/metadata/food_type.csv
  food/metadata/inedible_part.csv
  food/metadata/nova_classification.csv
  food/metadata/processing_state.csv
  food/metadata/transport_cooling.csv
Due: none

added a readme for this dir
  food/metadata/README.md
Due: none

correct categories
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

feat: add new packaging processes (#197)
  activities.json
  ecobalyse_data/bw/search.py
  public/data/processes.json
Due: fix-json, fix-python, check-json-schemas

chore: elasthane and wool
  activities.json
  public/data/processes.json
  public/data/textile/materials.json
Due: fix-json, check-json-schemas

chore: update flax
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: various data updates : flax, elasthane and wool (#198)
  activities.json
  public/data/processes.json
  public/data/textile/materials.json
Due: fix-json, check-json-schemas

first draft using the current flax, and need to use regex to remove that many flows
  activities_to_create.json
  common/import_.py
Due: fix-json, fix-python

feat: allow to use "exchanges" with "from_existing" (add exchanges on an activity being modified)
  common/import_.py
Due: fix-python

chore(data): create organic flax with new flax
  activities.json
  activities_to_create.json
Due: fix-json

new export with new flax
  public/data/processes.json
Due: fix-json, check-json-schemas

new export after improving maching info
  activities.json
Due: fix-json

model 1L of micronized sulfur instead of 1kg of sulfur in field
  activities_to_create.json
Due: fix-json

updated modeling parameters
  activities_to_create.json
Due: fix-json

chore(data): added organic flax after modeling
  activities.json
  public/data/processes.json
  public/data/textile/materials.json
Due: fix-json, check-json-schemas

include modeling doc
  activities_to_create.json
Due: fix-json

formatting
  activities_to_create.json
Due: fix-json

formatting
  common/import_.py
Due: fix-python

Update activities_to_create.json
  activities_to_create.json
Due: fix-json

Update activities.json
  activities.json
Due: fix-json

new export and format
  activities.json
  public/data/food/ingredients.json
Due: fix-json

chore: add test to check alias syntax
  tests/test_json_consistency.py
Due: fix-python

chore: update activities.json
  activities.json
Due: fix-json

chore: get adequate name
  tests/test_json_consistency.py
Due: fix-python

chore: update activities_to_create.json
  activities_to_create.json
Due: fix-json

chore: fix custom activity and add processes.json
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: various updates and add cff processes (#200)
  activities.json
  activities_to_create.json
  public/data/processes.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

chore: add last packages and fix Proxy
  activities.json
  public/data/processes.json
Due: fix-json, check-json-schemas

new format for "delete" of "from_existing" and removed elementary flows in flax straw
  activities_to_create.json
  common/import_.py
Due: fix-json, fix-python

missed processes update
  public/data/processes.json
Due: fix-json, check-json-schemas

refactor: simplify exchange format in activities_to_create.json
  activities_to_create.json
  common/import_.py
  tests/activities_to_create.json
Due: fix-json, fix-python

refactor: changed the delete implementation and specifiers
  common/import_.py
  tests/activities_to_create.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/processes_impacts.json
Due: fix-json, fix-python

new metadata
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

formatting
  activities.json
Due: fix-json

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
