Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-json-formatter, app-ruff-check, app-ruff-format

app-json-formatter:
  name: run Pythonâ€™s JSON formatter
  language: system
  entry: 'bash -c ''PYTHONPATH=. uv run python bin/json_formatter.py "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

chore: testing CI
  justfile
Due: none

fix: remove dotenv-required from just config
  justfile
Due: none

chore: fix CI (#188)
  justfile
Due: none

chore: various fix
  activities.json
  tests/fixtures/processes_impacts_output.json
Due: app-json-formatter

chore: fix typo
  activities.json
Due: app-json-formatter

chore: fix typo
  public/data/processes.json
  tests/fixtures/processes_impacts_output.json
Due: app-json-formatter

chore: fix density
  public/data/processes.json
Due: app-json-formatter

chore: convert wood processes to m3
  activities.json
  activities_to_create.json
  common/import_.py
  public/data/processes.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: readme id stability
  README.md
Due: none

chore: change id because unit change
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: add the “use” category to fuels
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: add the “use” category to low-voltage-electricity
  activities.json
  public/data/processes.json
Due: app-json-formatter

Experiment a category detector based on a translation model followed by a hierarchy transformer.
  bin/detect.py
  ecobalyse_data/data/metadata.csv
  ecobalyse_data/detect/__init__.py
  ecobalyse_data/detect/cooked_to_raw.py
  ecobalyse_data/detect/density.py
  ecobalyse_data/detect/metadata.py
  pyproject.toml
  uv.lock
Due: app-ruff-check, app-ruff-format

circular import
  bin/update_json.py
  ecobalyse_data/detect/__init__.py
Due: app-ruff-check, app-ruff-format

added scikit-learn
  pyproject.toml
  uv.lock
Due: none

chore: add the “use” category to fuels (#183)
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: convert wood processes to m3 (#181)
  README.md
  activities.json
  activities_to_create.json
  common/import_.py
  public/data/processes.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

chore: decrease image size with a .slugignore file
  .slugignore
Due: none

feat: containerization of Brigthway actions
  archive/docker.sh
  archive/docker/Dockerfile
  archive/docker/entrypoint.sh
  archive/docker/requirements.txt
  compose.yaml
  pyproject.toml
  uv.lock
Due: none

chore: pin python version
  .python-version
Due: none

chore: fix test
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_impacts.json
Due: app-json-formatter

Update ecobalyse_data/export/food.py
  ecobalyse_data/export/food.py
Due: app-ruff-check, app-ruff-format

chore: add location lait bio
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: app-json-formatter

chore: unify the transport processes on all scopes
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: unify the transport processes on all scopes (#187)
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: fix pre-commit
  .pre-commit-config.yaml
Due: none

chore: correct locations for created activities (#186)
  .pre-commit-config.yaml
  activities_to_create.json
  common/import_.py
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
  public/data/processes.json
  tests/fixtures/processes_impacts_output.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_impacts.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

feat: add contrails to air freight
  activities.json
  activities_to_create.json
  public/data/processes.json
Due: app-json-formatter

chore: add location
  activities_to_create.json
Due: app-json-formatter

feat: add contrails to air freight (#189)
  activities.json
  activities_to_create.json
  public/data/processes.json
Due: app-json-formatter

chore: replace `npm run` par `just` and get rid of npm
  .pre-commit-config.yaml
Due: none

chore: add schema validation to pre-commit
  .pre-commit-config.yaml
Due: none

chore: don’t run as root
  .pre-commit-config.yaml
  compose.yaml
  docker/Dockerfile
  docker/entrypoint.sh
Due: none

feat: add packaging ctcpas
  activities.json
  public/data/processes.json
Due: app-json-formatter

chore: add a default command to the container
  docker/entrypoint.sh
Due: none

feat: containerization of Brigthway actions (#167)
  archive/docker.sh
  archive/docker/Dockerfile
  archive/docker/entrypoint.sh
  archive/docker/requirements.txt
  compose.yaml
  docker/Dockerfile
  docker/entrypoint.sh
  pyproject.toml
  uv.lock
Due: none

chore: invisibilize-beef, correct beef-without-bone-organic
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: app-json-formatter

chore: correct comment
  ecobalyse_data/computation.py
  public/data/processes.json
Due: app-json-formatter, app-ruff-check, app-ruff-format

Path conditions:
  app-json-formatter: any of: ^.*$ and \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
