Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-prettier, app-ruff-check, app-ruff-format

app-prettier:
  name: run prettier
  language: system
  entry: 'bash -c ''npm --prefix . run fix:prettier --write "${@}"'' --
  
    '

app-ruff-check:
  name: run ruff check
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:check "${@}"'' --
  
    '

app-ruff-format:
  name: run ruff format
  language: system
  entry: 'bash -c ''npm --prefix . run fix:ruff:format "${@}"'' --
  
    '

feat: add a script to export the processes to the Open Data formats. (#155)
  bin/export_datagouv.py
  public/data/export/.gitignore
Due: app-ruff-check, app-ruff-format

fix: exclude PEF from open data exports
  bin/export_datagouv.py
Due: app-ruff-check, app-ruff-format

fix: exclude PEF from open data exports (#163)
  bin/export_datagouv.py
Due: app-ruff-check, app-ruff-format

get the activity from brightway to allow using more data from it than the sole name
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

Split the loop and the metadata retrieval
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

get scenario, improved density
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

function to extract the important word given a definition
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

use several words and get the best of all
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

Revert "fix: exclude PEF from open data exports (#163)"
  bin/export_datagouv.py
Due: app-ruff-check, app-ruff-format

try with: final score = positive score - negative score. Much better results!
  bin/update_ingredient_densities.py
Due: app-ruff-check, app-ruff-format

chore: stop using Prettier for json formatting
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  common/__init__.py
  common/export.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/process.py
  ecobalyse_data/export/textile.py
  package-lock.json
  package.json
  public/data/food/ingredients.json
  public/data/processes.json
  tests/fixtures/processes_impacts_output.json
  tests/test_export.py
Due: app-prettier, app-ruff-check, app-ruff-format

feat: containerization of Brigthway actions
  archive/docker.sh
  archive/docker/Dockerfile
  archive/docker/entrypoint.sh
  archive/docker/requirements.txt
  compose.yaml
  justfile
  pyproject.toml
  uv.lock
Due: none

chore: order ingredients by id
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore:sort materials.json
  ecobalyse_data/export/textile.py
  public/data/textile/materials.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: fix tests
  tests/snapshots/food/ingredients.json
  tests/snapshots/textile/materials.json
Due: app-prettier

refactor: cherry pick from refactor/metadata-file
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  migrations/2025-11-06-refactor-activities-to-merge-processes-metadata.py
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/processes-schema.json
  tests/test_json_consistency.py
Due: app-prettier, app-ruff-check, app-ruff-format

refactor: new export
  activities.json
  migrations/2025-11-06-refactor-activities-to-merge-processes-metadata.py
  public/data/food/ingredients.json
  public/data/textile/materials.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: sort ingredients.json and materials.json by id (#168)
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  public/data/food/ingredients.json
  public/data/textile/materials.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/textile/materials.json
Due: app-prettier, app-ruff-check, app-ruff-format

refactor to allow other update modules, and add "important" and "scenario" modules
  bin/update_ingredient_densities.py
  bin/update_json.py
  ecobalyse_data/data/density_DB.xlsx
  ecobalyse_data/detect/__init__.py
  ecobalyse_data/detect/density.py
  ecobalyse_data/detect/important.py
  ecobalyse_data/detect/scenario.py
Due: app-ruff-check, app-ruff-format

chore: fix tests
  migrations/2025-11-06-refactor-activities-to-nested-format.py
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/test_json_consistency.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add empty complements
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: reimplement improvements
  ecobalyse_data/export/food.py
Due: app-ruff-check, app-ruff-format

fix: correction on landoccupation handling
  activities.json
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
Due: app-prettier, app-ruff-check, app-ruff-format

fix: fix error in migration script, forgot location in key
  activities.json
  migrations/2025-11-06-refactor-activities-to-nested-format.py
  public/data/food/ingredients.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: keep id constraint in act_to_create.json for now
  tests/test_json_consistency.py
Due: app-ruff-check, app-ruff-format

improved definitions for important detector
  ecobalyse_data/detect/important.py
Due: app-ruff-check, app-ruff-format

Update ecobalyse_data/export/textile.py
  ecobalyse_data/export/textile.py
Due: app-ruff-check, app-ruff-format

chore: renaming and ordering to minimize diff
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
Due: app-ruff-check, app-ruff-format

chore: clean script and test file
  migrations/2025-11-06-refactor-activities-to-nested-format.py
  tests/test_json_consistency.py
Due: app-ruff-check, app-ruff-format

chore: add consistency check for metadata-scopes
  tests/test_json_consistency.py
Due: app-ruff-check, app-ruff-format

chore: pin python version
  .python-version
Due: none

chore: decrease image size with a .slugignore file
  .slugignore
Due: none

refactor: activities.json to a nested format (#170)
  activities.json
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  migrations/2025-11-06-refactor-activities-to-nested-format.py
  tests/fixtures/activities.json
  tests/processes-schema.json
  tests/test_json_consistency.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: add veli object scope to transport processes
  activities.json
  public/data/processes.json
Due: app-prettier

chore: correct custom sources
  activities.json
  tests/test_json_consistency.py
Due: app-prettier, app-ruff-check, app-ruff-format

chore: export processes
  public/data/processes.json
Due: app-prettier

chore: add veli object scope to transport processes (#174)
  activities.json
  public/data/processes.json
Due: app-prettier

chore: format all json files, and add precommit and CI check
  .pre-commit-config.yaml
  activities.json
  activities_to_create.json
  bin/json_formatter.py
  common/distances/distances_raw.json
  ecobalyse_data/export/food.py
  ecobalyse_data/logging.py
  impacts.json
  package.json
  simapro-biosphere.json
  tests/activities_to_create.json
  tests/fixtures/activities.json
  tests/fixtures/forwast.json
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_impacts.json
Due: app-prettier, app-ruff-check, app-ruff-format

chore: fix conflicts
  activities.json
  ecobalyse_data/export/food.py
  public/data/food/ingredients.json
  public/data/processes.json
  tests/fixtures/activities.json
  tests/snapshots/food/ingredients.json
Due: app-prettier, app-ruff-check, app-ruff-format

Path conditions:
  app-prettier: any of: ^.*$ and \.json$
  app-ruff-check: any of: ^.*$ and \.py$
  app-ruff-format: any of: ^.*$ and \.py$
