Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: no-commit-to-branch
      name: "don't commit to master"
      args: [--branch, main]

  - repo: local
    hooks:
      - id: fix-json
        name: run JSON formatter
        language: system
        files: ^.*$
        types_or: [json]
        entry: |
          bash -c 'just fix-json "${@}"' --

      - id: fix-python
        name: run ruff check
        language: system
        files: ^.*$
        types_or: [python]
        entry: |
          bash -c 'just fix-python "${@}"' --


      - id: check-json-schemas
        name: check json schemas
        language: system
        files: ^public/data/processes.*\.json$
        types_or: [json]
        entry: |
          just check-processes

delete old file
  food/ecosystemic_services/animal_to_meat.json
Due: fix-json

cleanup
  .gitignore
  cmaps_base_plots.zip
  cmaps_impact_deltas.csv
  settings.toml
Due: none

make source more epxlicit
  .gitignore
  food/ecosystemic_services/raw_to_transformed_ratios.json
Due: fix-json

remove obsolete livestockDensity comment
  food/ecosystemic_services/README.md
Due: none

chore: fix tests
  tests/test_raw_to_transformed_ratios.py
Due: fix-python

chore: clean-obsolete-metal-transfo ## :wrench: Problem
  lci_catalog/custom/machining-metal-stamping-do-not-use.json
  lci_catalog/ecoinvent-3-9-1/metal-processing-medium-no-longer-in-use.json
Due: fix-json

update readme
  food/ecosystemic_services/README.md
Due: none

first draft
  bin/export.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/process.py
Due: fix-python

add-battery-cells-and-cam
  lci_catalog/ecobalyse/battery-cell-cam-lfp-hydrothermal.json
  lci_catalog/ecobalyse/battery-cell-cam-nmc811.json
  lci_catalog/ecobalyse/battery-cell-graphite.json
  lci_catalog/ecobalyse/battery-cell-lfp-solid-cn.json
  lci_catalog/ecobalyse/battery-cell-nmc811-cn.json
  lci_catalog/ecobalyse/battery-cell-nmc811-fr.json
Due: fix-json

fix duplicate uuid
  lci_catalog/ecobalyse/battery-cell-lfp-solid-cn.json
Due: fix-json

new transformed ingredients
  activities_to_create.json
Due: fix-json

fix tests
  ecobalyse_data/computation.py
  tests/test_export.py
Due: fix-python

clarify
  ecobalyse_data/computation.py
Due: fix-python

chore: delete activities.json
  activities.json
  migrations/2025-11-06-refactor-activities-to-nested-format.py
  migrations/2026-03-17-add-food2-to-activities.py
  migrations/2026-04-13-add-food-type-to-food-items.py
  migrations/2026-06-14-explode-activities-json.py
Due: fix-json, fix-python

chore: delete activities.json (#292)
  activities.json
  migrations/2025-11-06-refactor-activities-to-nested-format.py
  migrations/2026-03-17-add-food2-to-activities.py
  migrations/2026-04-13-add-food-type-to-food-items.py
  migrations/2026-06-14-explode-activities-json.py
Due: fix-json, fix-python

feat: accelerate export using bw2calc.MultiLCA() (#290)
  bin/export.py
  ecobalyse_data/computation.py
  ecobalyse_data/export/process.py
  tests/test_export.py
Due: fix-python

multilca for landOccupation
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/land_occupation.py
Due: fix-python

Update heatMJ value in pan-cooking.json
  lci_catalog/custom/pan-cooking.json
Due: fix-json

Update heatMJ value in pan-reheating.json
  lci_catalog/custom/pan-reheating.json
Due: fix-json

new export
  tests/fixtures/processes_generic_impacts_output.json
Due: fix-json

fix tests
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
Due: fix-json

naming
  tests/test_base_ingredient.py
Due: fix-python

chore: fixes post rebase
  data/lci_catalog/agribalyse-3-2/pork-fr-2025.json
  data/lci_catalog/ecobalyse/bacon-default-2025.json
  data/lci_catalog/ecobalyse/bacon-organic-2025.json
  data/tests/snapshots/processes_impacts_full.json
  data/tests/test_raw_to_transformed_ratios.py
Due: fix-json, fix-python

chore: test temp ci fixes
  .github/workflows/ci.yml
  data/food/ecosystemic_services/README.md
  justfile
  pyproject.toml
  uv.lock
Due: none
