Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

fix formatting
  tests/snapshots/food/ingredients.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
Due: fix-json

comment and renaming
  common/base_ingredient.py
Due: fix-python

simplify
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/land_occupation.py
Due: fix-python

add comment
  ecobalyse_data/export/food.py
Due: fix-python

Change default origin from Europe to France for biologic beef
  lci_catalog/ecobalyse/beef-without-bone-organic-2025.json
Due: fix-json

Update defaultOrigin for papaya-fr-overseas.json
  lci_catalog/agribalyse-3-2/papaya-fr-overseas.json
Due: fix-json

Update defaultOrigin for pineapple FR Overseas
  lci_catalog/agribalyse-3-2/pineapple-fr-overseas.json
Due: fix-json

Update defaultOrigin to 'FranceOutreMer'
  lci_catalog/agribalyse-3-2/coconut-dehusked-fr-overseas.json
Due: fix-json

Update defaultOrigin to 'FranceOutreMer'
  lci_catalog/agribalyse-3-2/vanilla-alcoholic-or-aqueou-extract-fr-overseas.json
Due: fix-json

Update defaultOrigin from France to FranceOutreMer
  lci_catalog/agribalyse-3-2/mango-non-eu.json
Due: fix-json

Change defaultOrigin from 'France' to 'FranceOutreMer' for banana fr outre mer
  lci_catalog/agribalyse-3-2/banana-wi.json
Due: fix-json

Update defaultOrigin from 'France' to 'FranceOutreMer' for goyave
  lci_catalog/agribalyse-3-2/kiwi-fr.json
Due: fix-json

Set 'visible' to false in soybean-organic.json
  lci_catalog/ginko-2025/soybean-organic.json
Due: fix-json

cleanup, remove cpu_count
  ecobalyse_data/computation.py
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/land_occupation.py
Due: fix-python

raise chunk_size for landOcc
  ecobalyse_data/export/land_occupation.py
Due: fix-python

export
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix test
  tests/snapshots/food/ingredients.json
Due: fix-json

export
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix duplicate uuid
  lci_catalog/ecobalyse/battery-cell-lfp-solid-cn.json
Due: fix-json

Adapted the script to the activities.json explosion
  bin/export_bw_db.py
Due: fix-python

new export
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

clarify comment
  common/base_ingredient.py
Due: fix-python

resync and change chunk_size
  ecobalyse_data/export/land_occupation.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

new export
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

export
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

following cedric's review
  food/base_ingredients.json
  models/process.py
  public/data/food/ingredients.json
  public/data/processes_generic.json
  tests/test_base_ingredient.py
Due: fix-json, fix-python, check-json-schemas

new export after merge
  public/data/food/ingredients.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
