Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

ignore plot images
  .gitignore
Due: none

latest hide and add a pers/ folder ot gitignore
  .gitignore
  activities.json
Due: fix-json

milk complements
  .gitignore
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
Due: fix-json

fix-eol-ativities
  activities.json
Due: fix-json

fix-cell-alias
  activities.json
Due: fix-json

chore: forbid empty activities aliases
  bin/json_formatter.py
  tests/activities-schema.json
Due: fix-json, fix-python

chore: update processes after merge
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: fix incorrect merge
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: fix tests
  tests/fixtures/activities.json
Due: fix-json

create-activities-for-cells
  activities_to_create.json
Due: fix-json

chore: fill empty aliases (#261)
  activities.json
  bin/json_formatter.py
  tests/activities-schema.json
  tests/fixtures/activities.json
Due: fix-json, fix-python

chore: update processes
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: fix activity name for electricity, medium voltage//[FR]
  activities_to_create.json
Due: fix-json

fix: Organic coton irrigation (#255)
  activities.json
  activities_to_create.json
  common/import_.py
  ecobalyse_data/bw/search.py
  ecobalyse_data/bw/strategy.py
  ecobalyse_data/export/utils.py
  import_ecoinvent.py
  notebooks/explore.py
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: add cooking transformations (#260)
  activities.json
  migrations/2026-04-13-add-food-type-to-food-items.py
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: fix EoL activities (#267)
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Update .gitignore
  .gitignore
Due: none

add test for food2 metadata
  tests/fixtures/activities.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/fixtures/processes_generic_output.json
  tests/snapshots/processes_generic.json
  tests/snapshots/processes_generic_impacts.json
Due: fix-json

chore: add milk complements (#266)
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
Due: fix-json

fix-heat-rer
  activities_to_create.json
Due: fix-json

test-commit
  activities_to_create.json
Due: fix-json

change sign of complements
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
Due: fix-python

chore: fix last missing aliases
  activities.json
  tests/activities-schema.json
Due: fix-json

chore: fix last missing aliases (#270)
  activities.json
  tests/activities-schema.json
Due: fix-json

chore: create battery cells (#272)
  activities_to_create.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix EoL categories
  activities.json
Due: fix-json

chore: fix EoL categories (#273)
  activities.json
Due: fix-json

chore: resynchronise processes
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: resynchronise processes (#276)
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

improve-eol-alias
  activities.json
Due: fix-json

align-eol-alias
  activities.json
Due: fix-json

chore: align eol aliases (#275)
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

remove livestock density
  bin/export.py
  ecobalyse_data/export/food.py
  food/ecosystemic_services/README.md
  food/ecosystemic_services/ecosystemic_factors.csv
  food/ecosystemic_services/ugb.csv
  models/process.py
  public/data/food/ingredients.json
  public/data/processes_generic.json
  settings.toml
  tests/fixtures/food/ugb.csv
Due: fix-json, fix-python, check-json-schemas

fix tests snapshots
  tests/snapshots/food/ecs_factors.json
  tests/snapshots/food/ingredients.json
Due: fix-json

fix formatting
  activities.json
  activities_to_create.json
Due: fix-json

chore: make the paths of the data used in tests more explicit
  bin/export.py
  bin/export_bw_db.py
  common/distances/transports.py
  common/export.py
  config.py
  settings.toml
  tests/conftest.py
  tests/test_ecosystemic_services.py
  tests/test_export.py
  tests/test_process_relationships.py
Due: fix-python

fixes for ingredients
  activities.json
  food/metadata/cooked_to_raw.csv
  public/data/food/ingredients.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
