Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

add last activity needed for object/components.json
  activities.json
  bin/export.py
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

new export
  public/data/processes.json
Due: fix-json, check-json-schemas

reverted woolmark and pastoeco
  settings.toml
Due: none

new export
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

For technosphere inputs, use supplier's dataset number instead of a sequential number. exhange inputs resolved to the wrong activity
  ecobalyse_data/bw/ecospold_export.py
Due: fix-python

new export after encoding fixes
  public/data/processes.json
Due: fix-json, check-json-schemas

update export
  public/data/processes.json
Due: fix-json, check-json-schemas

format
  ecobalyse_data/bw/strategy.py
  tests/test_bin_scripts.py
Due: fix-python

fix: new export after Encoding fix (#226)
  public/data/processes.json
Due: fix-json, check-json-schemas

fix(data): Use rebuilt Ginko organic database with right names (#218)
  public/data/food/ingredients.json
  public/data/processes.json
  settings.toml
Due: fix-json, check-json-schemas

fix: set the right separator in the simapro header of the woolmark database (#225)
  settings.toml
Due: none

fix wrong merge
  settings.toml
Due: none

fix: corrected wrong name in the source pastoeco DB (#224)
  settings.toml
Due: none

ingredients "Origine Inconnue" (OI/default)
  activities.json
Due: fix-json

new generation with defaultOrigin hardcoded for the variant
  activities.json
Due: fix-json

fixed defaultOrigin
  public/data/food/ingredients.json
Due: fix-json

remove wip file
  meat_to_animal.json
Due: fix-json

feat: new format processes_generic (#220)
  .gitignore
  activities.json
  bin/export.py
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/object.py
  models/process.py
  public/data/metadata.json
  public/data/processes.json
  public/data/processes_generic.json
  tests/activities-schema.json
  tests/conftest.py
  tests/fixtures/activities.json
  tests/fixtures/processes_generic_impacts_output.json
  tests/fixtures/processes_generic_output.json
  tests/snapshots/metadata.json
  tests/snapshots/processes_generic_impacts.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

improved generation for legumes
  activities.json
  food/metadata/cropgroup.csv
  food/metadata/food_type.csv
  food/metadata/food_type_cooked_to_raw.csv
  food/metadata/food_type_density.csv
  food/metadata/food_type_inedible_part.csv
Due: fix-json

regenerate FR variant
  activities.json
Due: fix-json

regenerated OI ingredients
  activities.json
Due: fix-json

land occupation update following db updates ?
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

regenerated with removed orphaned activities
  activities.json
Due: fix-json

chore: add road transport to airport or to port
  bin/json_formatter.py
  common/distances/CountryDistances.py
  common/distances/transports.py
  justfile
Due: fix-python

chore: reverting the changes to the transports.json file, as the distances will be stored in the countries file
  common/distances/CountryDistances.py
  common/distances/transports.py
Due: fix-python

new import and export
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: add road transport to airport or to port (#211)
  bin/json_formatter.py
  common/distances/transports.py
  justfile
Due: fix-python

chrore: add comment to fuel processes
  activities_to_create.json
Due: fix-json

Revert "chrore: add comment to fuel processes"
  activities_to_create.json
Due: fix-json

Revert "chore: update activities.json"
  activities.json
Due: fix-json

chore: fix conflicts
  activities.json
  activities_to_create.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

chore: update activities.json
  activities.json
Due: fix-json

new import/export
  public/data/processes.json
Due: fix-json, check-json-schemas

update processes.json and ingredients.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

added live animals
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

add feeds for live animals
  food/ecosystemic_services/feed.json
Due: fix-json

fixed animal group and rexport
  activities.json
  public/data/food/ingredients.json
Due: fix-json

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
