Repository MTES-MCT/ecobalyse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-json, fix-python, check-json-schemas

fix-json:
  name: run JSON formatter
  language: system
  entry: 'bash -c ''just fix-json "${@}"'' --
  
    '

fix-python:
  name: run ruff check
  language: system
  entry: 'bash -c ''just fix-python "${@}"'' --
  
    '

check-json-schemas:
  name: check json schemas
  language: system
  entry: 'just check-processes
  
    '

refactor: unify alias between activities_to_create and activities (#228)
  activities.json
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
  tests/test_json_consistency.py
Due: fix-json, fix-python, check-json-schemas

Update ecobalyse_data/export/utils.py
  ecobalyse_data/export/utils.py
Due: fix-python

add forestManagement to displayName
  activities.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

explicit enum
  tests/activities-schema.json
Due: fix-json

fix activity schema explicit scope
  tests/activities-schema.json
Due: fix-json

refactor: make activities metadata cross-scope (#221)
  activities.json
  ecobalyse_data/export/export_generic.py
  ecobalyse_data/export/food.py
  ecobalyse_data/export/textile.py
  ecobalyse_data/export/utils.py
  tests/activities-schema.json
  tests/fixtures/activities.json
  tests/snapshots/processes_generic.json
  tests/test_json_consistency.py
Due: fix-json, fix-python

- fixes for "dried" in farm-level activity names - fixed soybean FR process
  activities.json
Due: fix-json

some other process fixed
  activities.json
  food/metadata/cropgroup.csv
  food/metadata/density.csv
  food/metadata/nova_classification.csv
Due: fix-json

fixed no organic on FR variant
  activities.json
Due: fix-json

chore: migrate food transport and transform processes to food2
  activities.json
  bin/export.py
  models/process.py
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, fix-python, check-json-schemas

chore: add food2 to validation schema
  tests/activities-schema.json
Due: fix-json

chore: wip
  activities.json
Due: fix-json

fixed egg
  activities.json
Due: fix-json

chore: add processes files
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

let the onion and garlic be the same
  activities.json
  food/metadata/agb_inedible.csv
Due: fix-json

fixed some transportCooling
  activities.json
Due: fix-json

fixed inediblePart matching
  activities.json
Due: fix-json

remove object veli process in processes.json
  .gitignore
  bin/export.py
  common/export.py
  ecobalyse_data/export/export_generic.py
  public/data/processes.json
  tests/conftest.py
  tests/snapshots/processes_impacts.json
  tests/snapshots/processes_impacts_full.json
  tests/test_export.py
Due: fix-json, fix-python, check-json-schemas

numerous fixes on new FR ingredients
  activities.json
  food/metadata/agb_inedible.csv
  food/metadata/cropgroup.csv
  food/metadata/density.csv
  food/metadata/food_type.csv
  food/metadata/food_type_cooked_to_raw.csv
  food/metadata/food_type_density.csv
  food/metadata/food_type_inedible_part.csv
  food/metadata/nova_classification.csv
Due: fix-json

new export
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

only OI ingredients
  activities.json
Due: fix-json

regerenated only OI with fixed location for AFLDB activities
  activities.json
Due: fix-json

put new file as settings var
  bin/export.py
  ecobalyse_data/export/export_generic.py
  settings.toml
Due: fix-python

new BIO ingredients
  activities.json
Due: fix-json

new export with BIO ingredients (TODO: complements)
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: migrate food transport and transform processes to food2 (#232)
  activities.json
  bin/export.py
  models/process.py
  public/data/processes.json
  public/data/processes_generic.json
  tests/activities-schema.json
Due: fix-json, fix-python, check-json-schemas

chore: add the food2 scope to heat and elec processes from food countries (#233)
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

Beef without bone
  activities.json
  activities_to_create.json
Due: fix-json

fixed id and aliases
  activities.json
  activities_to_create.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

fixed uuid
  activities.json
Due: fix-json

fixed uuid
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: add comment to fuel processes (#229)
  activities.json
  activities_to_create.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

fix(data): Fix fr ingredients (#234)
  activities.json
  food/metadata/agb_inedible.csv
  food/metadata/cropgroup.csv
  food/metadata/density.csv
  food/metadata/food_type.csv
  food/metadata/food_type_cooked_to_raw.csv
  food/metadata/food_type_density.csv
  food/metadata/food_type_inedible_part.csv
  food/metadata/nova_classification.csv
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

chore: fix merging
  activities.json
  public/data/processes.json
  public/data/processes_generic.json
Due: fix-json, check-json-schemas

feat(data): Ingredients "Origine Inconnue" (#215)
  activities.json
  food/ecosystemic_services/feed.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

Merge branch 'main' into ingredients_BIO
  activities.json
  activities_to_create.json
  bin/export.py
  models/process.py
  public/data/processes.json
  public/data/processes_generic.json
  tests/activities-schema.json
Due: fix-json, fix-python, check-json-schemas

regenerated BIO ingredients
  activities.json
Due: fix-json

new generation from upstream with fixed source csv and added locations
  activities.json
  public/data/food/ingredients.json
  public/data/processes.json
Due: fix-json, check-json-schemas

Path conditions:
  fix-json: any of: ^.*$ and \.json$
  fix-python: any of: ^.*$ and \.py$
  check-json-schemas: any of: ^public/data/processes.*\.json$ and \.json$
